<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta itemprop="name" content="斗金">
    <meta name="description" itemprop="description" content="">
    <meta itemprop="image" content="https://img1.qunliao.info/fastdfs5/M00/00/43/rBUEuWC3BAqAZY1fAAAlOmeDelY655.png">
    <title>斗金</title>
    <%- include src/snippet/header-end.html -%>
  </head>

  <body>
    <%- include src/snippet/body-begin.html -%>
    <div id="app"></div>
    <%- include src/snippet/body-end.html -%>
  </body>
</html>
